html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    all: unset;
    margin: 0;
    color-scheme: dark;
    background-color: #1A1A1A;
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-template-columns: 1fr 9fr;
}
#header {
    grid-area: header;
    text-align: center;
}
#aside {
    grid-area: menu;
}
#component {
    height: auto;
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
}
#component [id] {
  scroll-margin-top: 80px; /* Höhe deines sticky headers */
}
#footer {
    grid-area: footer;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
        grid-template-areas:
            "header header"
            "content content"
            "footer footer";
        grid-template-columns: 1fr 4.5fr;
    }
    
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
        grid-template-areas:
            "header"
            "menu" 
            "content"
            "footer";
        grid-template-columns: 1fr;
    }
}